@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin-left: 150px;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 480px) {
  .app {
    width: 100%;
    margin-left: 0;
    padding: 0 10px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .app {
    width: 95%;
    margin-left: 20px;
  }
}
@media (min-width: 769px) {
  .app {
    width: 80%;
    margin-left: 150px;
  }
}
